<% content_for :menulinks do %>
	<%= link_to "back to Home", root_path %>
<% end %>

<div id="getStarted" class="darkGlass row dark left-padding">
	<div class="container">
		<div class="col-sm-6">
			<h2>Trevor for your Goals</h2>
			<ol>
				<li>Login to Personal</li>
				<li>Go to Objectives</li>
				<li>Create new ones (with 3 different titles)</li>
				<li>Create sub-objectives</li>
				<li>Notification</li>
				<li>Complete</li>
			</ol>
		</div>
		<div class="col-sm-6">
		</div>
		
		<hr class="full"/>

		<div class="col-sm-6">
		</div>
		<div class="col-sm-6">
			<h2>Trevor for your Life</h2>
			<ol>
				<li>Create new Projects</li>
				<li>Uni, Work, Home, StartUP</li>
				<li>Browse between them to see different objective</li>
			</ol>
		</div>


		<hr class="full" />

		<div class="col-sm-6">
			<h2>Trevor for your Team and Business</h2>
			<h4>Manage your organization</h4>
			<ol>
				<li>Go to StartUP - Team sphere</li>
				<li>Create 2 sub-projects (marketing and prototyping)</li>
				<li>Invite members</li>
				<li>Approve members</li>
				<li>Edit premissions</li>
			</ol>
			<br />
			<h4>Collaborate in RealTime</h4>
			<ol>
				<li>Create Objective with Assign</li>
				<li>Notification, teammate completed</li>
				<li>Activity Feed - Good job STANLEY</li>
				<li>Overview Progress</li>
				<li>In-app notifications?</li>
			</ol>
		</div>
		<div class="col-sm-6">
		</div>

		<hr class="full"/>

		<div class="col-sm-6">
		</div>
		<div class="col-sm-6">
			<h2>Do less, achieve more</h2>
			<ol>
				<li>Notifications</li>
				<li>In-app Notifications</li>
				<li>Real-life example?</li>
			</ol>
		</div>
	</div>
</div>

