<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Powerful Task management</h2>
            <quote style="font-style:italic;">"The tasks we do each day contribute to the overall goal we want to achieve."</quote>
            <p class="lead">Trevor gives individuals and organizations powerful, flexible and efficient Тask management features.
            <ul>
                <li>Creating Objectives is fast</li>
                <li>Plenty of flexible options available</li>
                <li>Assigning Objectives to team members is instant</li>
                <li>Monitoring team members' performance is easy</li>
                <li>Your list of Objectives is a design innovation on its own</li>
              </ul>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC42MjUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToyM3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjUwMHg1MDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC42MjUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToyM3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjUwMHg1MDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Redefined Time management</h2>
            <quote style="font-style:italic;">"Time is the most valuable asset and we want to make sure you make the best of it."</quote>
            <p class="lead">Trevor's Time management interface is a blend of science, psychology and art. It needs no explanation because it is a powerful illustration you can instantly understand. You can finally "see" time.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Smart Project management<span class="text-muted">Welcome back to the 21st Century.</span></h2>
            <quote style="font-style:italic;">"We are fully aware that it is often difficult to reach your goals alone."</quote>
            <p class="lead">Trevor's Project Management system lets you easy manage a team/organization of any size and complexity.
            <ul>
                <li>Create unlimited Projects and Sub-projects for any organizational structure</li>
                <li>Assign all of your friends/colleges/employees/family into your projects/organizations</li>
                <li>Work in a dynamic, RealTime environment where every change is instant.</li>
                <li>Monitor all of your Projects' and Team Members' progress at any time</li>
                <li>Your Data is synced to the cloud instantly and securely</li>
              </ul>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC42MjUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToyM3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjUwMHg1MDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <h1 class="jumbotron">Here is when it all comes together...</h1>

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Personal Assistance</h2>
            <p>Trevor - your personal assistant will intelligently help you with your Time, Task and Team management. Your day is now a much better experience with Trevor in your pocket.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Powerful Cloud Architecture</h2>
            <p>Trevor's modern cloud architecutre and smart algorithms allow him to instantly provide you with relevant, personalized information.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Technological Advantage</h2>
            <p>Trevor will always keep you up-to-date with all the progress of all the Projects, People and Objectives in your life... and thats just the beginning.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

      </div><!-- /.container -->
