<div class="container" id="support_page">
	<div class="box dark-gradient">
		<p>
			Contact us via:<br/>
			<a href="mailto:admin@trevorcorporation.com" target="_top">Email</a><br />
			<a href="https://twitter.com/TREVORCORP">Twitter</a><br />
			<a href="https://www.facebook.com/trevorcorporation">Facebook</a>
		</p>
		<p class="caption">&copy;Trevor Corporation <br /><%= link_to "Back", root_url %></p>

	</div>
</div>