<% content_for :menulinks do %>
  <%= link_to "back to Home", root_path %>
<% end %>

<div id="supportPage" class="darkGlass row dark left-padding">
	<div class="corner-top-left"></div>
	
	<div class="container" style="padding-top: 100px;">
	  

		<div class="col-md-12">
		    <h2 >Blog</h2>
		    <p class="lead gray">
		      Read about the boundaries we challenge to extend your potential.
		    </p>
		    <hr class="full" style="margin-top: 20px;" />
		</div>



		  <div class="col-md-12 blog">

		  	<h3 class="blog-heading">T R E V O R - a Radical idea born into existence</h3>
		  	

			<p>Trevor is a new approach to an issue known to all of us - productivity.</p>
			
			<p>We set out to build something radical, something that didn't exist in the market yet. Something that would solve the problem and disrupt the market of productivity for good. We set out to build the next-gen, all-in-one solution for all of your productivity needs.</p>
			
			<p>We made planning more powerful, leading - more flexible, managing - more efficient. We actively seek ways to help you do more than you prevously could, in a much more clear and efficient way. We set out to build a tool that helps you to confidently pursue your dreams, achieve your goals, and master your time.</p>
			
			<p>When we set out to challege all of the methods, techniques, tools and technology which people use for productivity, we started doing much more than productivity. Productivity is about performance, efficiency, competitiveness, and ultimately - wellbeing. We ventured beyond simple metrics to create something way more valueable - an entity, a personality, a personal assistant you can trust.</p>
			
			<p>An artificially intelligent assistant is something limitless. It continuously learns, adapts, and becomes better at what it does. It evolves and finds new solutions to existing problems. It finds ways to improve your life, and the life of those around you. It does so, however, with incredible care and security in mind. It does not want to disturb unless it's urgent, it's just there, helping in the background...</p>

			<p>We often refer to to it as "our second brain", "our multitasking advantage", and even "our superpower". </p>

			<p>We are on the verge of something, stay tuned.</p>

			<br />

			<div class=" col-md-4">
				<p class="lead gray">05.05.2015</p>
			</div>
			<div class=" col-md-4 text-center">
				<p class="lead gray">Team Trevor</p>
			</div>
			<div class=" col-md-4">
				<p class="lead gray pull-right">Share</p>
			</div>
			<hr class="full" />

		  </div>



		  <div class="col-md-12 blog">

		  	<h3 class="blog-heading">T R E V O R - Artificial Intelligence</h3>
		  	

			<p>Intelligence is tricky</p>

			<p>It gives us the power to perceive, process, store, recall, transform data, etc. Simple living organisms rely on D.N.A. for their survival. Organisms with intelligence have a much more efficient way to adapt to their environment - by processing data much faster than evolutionary processes.</p>
			
			<p>We as human beings have transitioned to beings with superior intellect compared to other species in our environment, thus being able to adapt, survive, and flourish with superior efficiency.</p>
			
			<p>So what's next? What is the next step in human intelligence?</p>
			
			<p>Our brains yield incredible power, there is such capcity that we can learn almost anything we can perceive. Naturally, teaching our brains to process data faster, smarter, more efficiently seems like the next logical step. However, knowing this we still invented computers to help us compute large amounts of data. We can do it on our own, yet we still use calculators even for the simplest of tasks. Why - we belive the answer is productivity. We need efficiency in our lives to stay productive, to be competitive, to survive, and to evolve.</p>

			<p>It is not so much that our brains are limited, or that we are ignorant and passive, it is because we seek productivity.</p>
			
			<p>Now think about what it would it be like to have a second brain in your life with the processing capacity of a data center.</p>

			<p>Using today's technology we can empower you with an artificially intelligent personal assistant that lives in the cloud. We successfully implemented a real-time cloud architecture so Trevor is available anytime, anywhere (with internet access available). We are implementing machine learning to teach Trevor how to adapt to you, learn about you, and assist you with your specific needs. Our data-mining algorithms are teaching your personal assistant to understand your habbits, patterns, activities, people in your life, and so much more. Using this data in a privacy-respected way, Trevor can adequately respond to your needs. Furthermore he does so in a human-like way using Voice Recognition, Natural Language Processing, Neuro-linguistic Programing and personality characteristics.</p>

			<p>All of this technology is working silently behind the scenes ensuring that your day goes as smooth as possible.</p>

			<br />

			<div class=" col-md-4">
				<p class="lead gray">05.05.2015</p>
			</div>
			<div class=" col-md-4 text-center">
				<p class="lead gray">Team Trevor</p>
			</div>
			<div class=" col-md-4">
				<p class="lead gray pull-right">Share</p>
			</div>
			<hr class="full" />

		  </div>


		  <div class="col-md-12 blog">

		  	<h3 class="blog-heading">T R E V O R - The Potential</h3>
		  	

			<p>Trevor's potential is limitless.</p>

			<p>It spans from helping you plan your day, to managing your business while you're on a day off, automating your smart home, helping you make better investment decisions, and much more - ultimately helping you achieve your dreams.</p>

			<p>Looking at it in the short-term Trevor will be able to:</p>
			<ol>
				<li>Coming soon...</li>
			</ol>

			<br />

			<div class=" col-md-4">
				<p class="lead gray">05.05.2015</p>
			</div>
			<div class=" col-md-4 text-center">
				<p class="lead gray">Team Trevor</p>
			</div>
			<div class=" col-md-4">
				<p class="lead gray pull-right">Share</p>
			</div>
			<hr class="full" />

		  </div>



		  <div class="col-sm-12">
		  	<hr class="full" style="margin: 20px 0;" />
			<%= link_to "Back", root_url %></p>
		  </div>


	</div>

</div>
	<!-- <div class="corner-bottom-right"></div> -->