@font-face {
   font-family: 'Roboto';
    src: font-url('Roboto-Thin.eot');
    src: font-url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         font-url('Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
   font-family: 'Roboto';
    src: font-url('Roboto-Regular.eot');
    src: font-url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         font-url('Roboto-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}